/****** Main Styling ******/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  background-color: rgb(1, 75, 1);
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

a {
  color: #2574a9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
}

.view {
  position: relative;
  margin: auto;
  margin-top: 40px;
  border: 2px solid #aaa;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  width: 400px;
}

a {
  text-decoration: none;
  color: rgb(112, 210, 255);
}

a:hover {
  color: white;
}
